@import url("https://fonts.googleapis.com/css?family=Lora");
body {
  /* background-image: url("./images/pizza-time-tasty-homemade-traditional-pizza-italian-recipe.jpg");
  background-size: 2000px; */
  margin: 0;
  background-color: #f9f6f1;
  font-family: "Lora";
}

img {
  max-width: 100%;
  display: block;
}

.topbar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0.5em 2em;

  background-color: white;
  width: 100%;
  position: sticky;
  top: 0;
  z-index: 1;
}

.topbar-div {
  display: flex;
  max-width: 1140px;
}

.top-logo {
  max-width: 45%;
  min-width: 190px;
}

.top-logo img {
  max-height: 150px;
}

.shopping-cart {
  display: flex;
  max-width: 45%;
  width: 45%;
  border: 2px solid #17a2b8;
  border-radius: 1em;
  justify-content: space-between;
  align-items: center;
  min-width: 250px;
  padding-right: 3em;
}

.container {
  display: flex;
  flex-direction: column;
}

.shopping-cart-element {
  max-width: 33%;
  padding: 0.5em;
}

.pizzalist {
  width: 100%;
  min-width: 500px;
  background-color: #f9f6f1;
  border-radius: 1rem;
  margin: 1rem;
}

.pizzalist-specific {
  width: 100%;
  min-width: 500px;
  background-color: #f9f6f1;
  border-radius: 1rem;
  margin: 1rem;
  padding: 2em;
}

.leftmenu {
  width: 100%;
  display: flex;
  flex-direction: column;
  min-width: 280px;
}

.footer {
  background-color: #f9f6f1;
  justify-content: center;
  display: grid;
  display: inline-block;
  width: 100%;
}
.footer p {
  text-align: center;
}

main {
  order: 1;
  width: 100%;
}

aside {
  order: 2;
  width: 100%;
}

section .main {
  width: 100%;
}

div .background {
  background-image: url("./images/pizza-time-tasty-homemade-traditional-pizza-italian-recipe.jpg");
  background-size: 2000px;
}

.container-flex {
  display: flex;
}

.leftrow {
  background-color: #f9f6f1;
  border-radius: 1em;
  margin: 1em;
  margin-bottom: 1em;
  padding: 1rem;
}

.specific-photo {
  max-width: 125px;
  padding: 0.5em;
}

.btn-summary-small {
  font-size: 12px;
}

.one-pizza {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid #d3d3d3;
  margin-bottom: 0;
  padding: 0.5em;
}

.one-pizza-main {
  display: flex;
}

.one-pizza-aside {
  display: flex;
  justify-content: space-evenly;
  padding: 0.5em 2em;
}

.one-pizza-img {
  max-width: 100%;
}

.horizontal-logo {
  max-width: 100%;
}

.additives-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.oneAdd {
  border: 2px;
  font-size: 0.9em;
}

.one-pizza-information h1 {
  font-size: 2em;
  font-weight: bold;
}

.container-quantity {
  display: flex;
}

.add-item {
  margin: 0 auto;
  text-align: center;
}

.row-summary {
  display: flex;
  flex-direction: column;
}

.row-summary-detail {
  display: flex;
}

.row-summary-detail p {
  background-color: #17a2b8;
  color: #fff;
  font-size: 1.5em;
  border: #fff 2px solid;
  border-radius: 0.25em;
  margin: 0 10px 0 0;
}

.additive-box {
  background-color: #17a2b8;
  color: #fff;
}

.additive-box p {
  display: inline;
  padding: 1em;
}

@media screen and (min-width: 800px) {
  .shopping-cart {
    flex-direction: row;
    justify-content: center;
    padding: 0;
    min-width: 250px;
  }
  .shopping-cart-element {
    max-width: 100%;
  }

  main {
    order: 2;
    width: 75%;
  }

  aside {
    width: 20%;
    order: 1;
  }
  .container-flex {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}
